body{
margin:2px;
font-family:tahoma;
color:#123456;
}
.main{
	width:100%;
	height:auto;
	margin:0px;
	padding:0px;
}
.header{
width:100%;
height:100px;
margin:0px;
padding:0px;
background-color:#C2D2E9;
}
.logo{
width:25%;
 height:auto;
 padding:0px;
 margin:0px;
 overflow:hidden;
 float:left;
}
.logo img{
	width:50%;
	height:80%;
	padding:10px 10px;
}
.nav{
    width: 65%;
    height: auto;
    padding: 0px;
    margin: 22px;
    float: left;
    background-color: #C2D2E9;
}
.nav ul li{
	float: left;
	width:150px;
	height: 52px;
	display: block;
	text-align: center;
	line-height: 50px;
}
.nav ul{
	list-style:none;
	position:relative;
	height: 52px;
	margin:0px;
	padding:0px;
}
.nav ul li a{
           text-decoration:none;
           color:#fffeff;
		   padding: 0px;
		   }

.nav ul li:hover{
        color:#0080ff;
        background-color:yellow;
		height:auto;
		}
.nav ul li:hover ul{
	display:block !important;
	background-color:Green;
}
.nav ul li ul{
	list-style:none;
	position: absolute;
	display:none;
	height: auto;
	padding:0px;
	z-index: 99999;
	float:left;
	width: 151px;
}
.nav ul li ul li{
	float:none;
	margin: 0px 0px;
	width:152px;
}
.nav ul li ul li a{
	display:block;
	float:none;
	width: 141px;
}
.nav ul li ul li:hover{
background-color:black;
}
.image{
	clear:both;
	width: 100%;
	height: 300px;
	padding:0px;
	margin:0px;
	overflow:hidden;
	float:none;
}
.image img{
	
	width:100%;
	height:300px;
}
.message{
	width:100%;
	height:50px;
	background-color:#01B8CA;
	float:left;
}
.message marquee p{
	 font-family: Verdana;
	 font-size:20px;
	 float:left;
	 padding:10px;
	 margin:0px;
	 color:#C1D1E8;
}
.message marquee h3{
	 font-family: Verdana;
	 font-size:20px;
	 float:left;
	 padding:10px;
	 margin:0px;
	 color:#C1D1E8;
}
.mid-section{
	height:300px;
	width:100%;
	background-color:#C2D2E9;
}
.mid-section-left{
	height:300px;
	width:33.3%;
	background-color:#C2D2E9;
	float:left;
}
.inner-mid-section-left{
padding:55px 0px;
}
.inner-image-left{
	border: 5px solid #01B8CA;
	width: 150;
}
.button1 input{
	background-color: #3FCEF9;
	border-radius: 0.75em;
}
.mid-section-mid{
	height:300px;
	width:33.4%;
	background-color:#C2D2E9;
	float:left;
}
.inner-mid-section-mid{
    padding:55px 0px;
}
.inner-image-mid{
	border: 5px solid #01B8CA;
	width: 150;
}
.button2 input{
	background-color: #3FCEF9;
	border-radius: 0.75em;
}
.mid-section-right{
	height:300px;
	width:33.3%;
	background-color:#C2D2E9;
	float:left;
}
.inner-mid-section-right{
    padding:55px 0px;
}
.inner-image-right{
	border: 5px solid #01B8CA;
	width: 150;
}
.button3 input{
	background-color: #3FCEF9;
	border-radius: 0.75em;
}
.section{
	height:350px;
	width:100%;
	background-color:#C2D2E9;
	    margin-top: 2px;
}
.section-left{
	height:350px;
	width:33.3%;
	background-color:#C2D2E9;
	float:left;
}
.nav2{
width:100%; 
height:350px;
padding:8px 0px;
margin:0px;
overflow:hidden;
float:left;
background-color:#C2D2E9;
}
.second-ul{
	list-style: none;
    height: 254px;
    width: 93px;
	padding: 0 80px;
}
.second-ul li{
	padding: 0px;
    line-height: 2.3em;
	width: 100%;
}
.second-ul li a{
           text-decoration:none;
           color:#fffeff;
		   padding: 0
		   }
.second-ul li:hover{
        color:#0080ff;
        background-color:yellow;
		height:auto;
		width:auto;
		}
.section-mid{
	height:350px;
	width:33.4%;
	background-color:#C2D2E9;
	float:left;
}
.section-mid img{
 margin:0px;
 padding: 14px 0px;
 float: left;
}
.section-mid a{
    margin:0px;
    padding: 18px 8px;
    float: left;
    text-decoration:none;
	color:white;
}
.icon1{
	padding: 24px 160px;
    width: 28%;
    height: 16.3%;
}
.icon2{
	    width: 57%;
    height: 19.4%;
    padding: 20px 30px 15px 161px;
}
.section-right{
	height:350px;
	width:33.3%;
	background-color:#C2D2E9;
	float:left;
}
.form{
	padding: 48px;
}
.form td{
	padding: 18px 34px;
}
.submit input{
background-color:#C2D2E9;
border-radius: 0.75em;
}
.footer{
	float:left;
	height:100px;
	width:100%;
	background-color:#DEE8F4;
	text-align:center;
}
.footer h4{
	float:left;
	font-size:24px;
	width: 100%;
	font-family:tahoma;
	text-align:center;
}
@media screen and (min-width:320px) and (max-width:480px)
{
	.main{
	width:100%;
	}
	.header{
width:100%;
height:40px;
margin:0px;
padding:0px;
background-color:#C2D2E9;
}
.logo{
width:25%;
 height:auto;
 padding:0px;
 margin:0px;
 overflow:hidden;
 float:left;
}
.logo img{
	width:50%;
	height:80%;
	padding:2px 2px;
}
.nav{
    width: 65%;
    height: 35px;
    padding: 0px;
    margin: 0px;
    float: left;
    background-color: #C2D2E9;
}
.nav ul li{
	float: left;
	width:40px;
	height: 35px;
	display: block;
	text-align: center;
	line-height: auto;
	font-size:8px;
}
.nav ul{
	list-style:none;
	position:relative;
	height:35px;
	margin:0px;
	padding:0px;
}
.nav ul li a{
           text-decoration:none;
           color:#fffeff;
		   padding: 0px;
		   }

.nav ul li:hover{
        color:#0080ff;
        background-color:yellow;
		height:39px;
		}
.nav ul li:hover ul{
	display:block !important;
	background-color:Green;
}
.nav ul li ul{
	list-style:none;
	position: absolute;
	display:none;
	height: 100px;
	padding:0px;
	z-index: 99999;
	float:left;
	width: 40px;
}
.nav ul li ul li{
	float:none;
	margin: 0px 0px;
	width:40px;
}
.nav ul li ul li a{
	display:block;
	float:none;
	width: 20px;
}
.nav ul li ul li:hover{
background-color:black;
}
.image{
	clear:both;
	width: 100%;
	height: 150px;
	padding:0px;
	margin:0px;
	overflow:hidden;
	float:none;
}
.image img{
	
	width:100%;
	height:150px;
}
.message{
	width:100%;
	height:auto;
	background-color:#01B8CA;
	float:left;
}
.message marquee p{
	 font-family: Verdana;
	 font-size:8px;
	 float:left;
	 padding:2px;
	 margin:0px;
	 color:#C1D1E8;
}
.message marquee h3{
	 font-family: Verdana;
	 font-size:8px;
	 float:left;
	 padding:5px;
	 margin:0px;
	 color:#C1D1E8;
}
.mid-section{
	height:150px;
	width:100%;
	background-color:#C2D2E9;
}
.mid-section-left{
	height:150px;
	width:33.3%;
	background-color:#C2D2E9;
	float:left;
}
.inner-mid-section-left{
padding:20px 0px;
}
.inner-image-left{
	border: 2px solid #01B8CA;
	width: 40px;
}
.button1 input{
	background-color: #3FCEF9;
	border-radius: 0.75em;
}
.mid-section-mid{
	height:150px;
	width:33.4%;
	background-color:#C2D2E9;
	float:left;
}
.inner-mid-section-mid{
    padding:20px 0px;
}
.inner-image-mid{
	border: 2px solid #01B8CA;
	width: 40px;
}
.button2 input{
	background-color: #3FCEF9;
	border-radius: 0.75em;
}
.mid-section-right{
	height:150px;
	width:33.3%;
	background-color:#C2D2E9;
	float:left;
}
.inner-mid-section-right{
    padding:20px 0px;
}
.inner-image-right{
	border: 2px solid #01B8CA;
	width: 40px;
}
.button3 input{
	background-color: #3FCEF9;
	border-radius: 0.75em;
}
.section{
	height:160px;
	width:100%;
	background-color:#C2D2E9;
	    margin-top: 1px;
}
.section-left{
	height:160px;
	width:33.3%;
	background-color:#C2D2E9;
	float:left;
}
.nav2{
width:100%; 
height:160px;
padding:2px 0px;
margin:0px;
overflow:hidden;
float:left;
background-color:#C2D2E9;
}
.second-ul{
	list-style: none;
    height: 154px;
    width: 50px;
	padding: 0 30px;
}
.second-ul li{
	padding: 0px;
    line-height: 0.3em;
	width: 100%;
}
.second-ul li a{
           text-decoration:none;
           color:#fffeff;
		   padding: 0
		   }
.second-ul li:hover{
        color:#0080ff;
        background-color:yellow;
		height:auto;
		width:auto;
		}
.section-mid{
	height:160px;
	width:33.4%;
	background-color:#C2D2E9;
	float:left;
}
.section-mid img{
 margin:0px;
 padding: 5px 0px;
 float: left;
}
.section-mid a{
    margin:0px;
    padding: 5px 2px;
    float: left;
    text-decoration:none;
	color:white;
}
.icon1{
	padding: 10px 50px;
    width: 28%;
    height: 16.3%;
}
.icon2{
	    width: 57%;
    height: 19.4%;
    padding: 8px 12px 5px 80px;
}
.section-right{
	height:160px;
	width:33.3%;
	background-color:#C2D2E9;
	float:left;
}
.form{
	padding: 20px;
}
.form td{
	padding: 7px 15px;
}
.submit input{
background-color:#C2D2E9;
border-radius: 0.75em;
}
.footer{
	float:left;
	height:20px;
	width:100%;
	background-color:#DEE8F4;
	text-align:center;
}
.footer h4{
	float:left;
	font-size:10px;
	width: 100%;
	font-family:tahoma;
	text-align:center;
}
	}