body{
margin:0px;
}
.wrapper{
width:100%;
height:auto;
margin:0px;
padding: 0px;
overflow:hiddden;
margin:0px auto;
border-spacing:0px;
}
.header{
background-color:#565DFF;
}
.logo{
padding: 11px;
}
.icons{
text-align: right;
}
.icons a{
text-decoration:none;
}
.navigation{
background-color:#4FCF4F;
}
.navigation td{
padding:12px;
}
.navigation a{
color:sky blue;
text-decoration:none;
padding:0px 108px;
}
.navigation a:hover{
color:yellow;
background:silver;
}
.login{
background-color:yellow;
margin:0px;
}
.inner-login{
color:blue;
}
.data{
background-color:yellow;
margin:0px;
}
.footer{
text-align:center;
background-color:orange;
}