body{
	margin: 0px;
	}
.banner{
    position: relative;
    background: url(../images/header.jpg) no-repeat bottom center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
	width:100%;
	height:550px;
}
.navbar-brand{
	padding-left: 55px !important;
}
.navbar{ 
background-color: #27241F;
border-radius:0em;
opacity: 0.7;
margin-bottom:0px;
}
.navbar-form{
padding-top:0px;
margin-top:12%;
}
.btn{
    padding-top:2%;
}
.text{
font-family:Alte Haas Grotesk;
width:100%;
color:white;
font-size: 19px;
margin: 17% 0 0;
padding-bottom: 208px;
}
.text h3{
	font-family:Alte Haas Grotesk;
	width: 100%;
    height: 30px;
	color:white;
	font-size:69.99px;
	padding: 0 0 6%;
}
.container{
text-align:center;
}
.description h4{
	color:white;
}
.jumbotron{
border-radius:0em;
margin:0% 0%;
padding:0px 10px;
text-align-justify:center;
}
.jumbotron p{
	text-align:justify;
}
.link{
background-color: #4eb9f4;
}
.circle-icon{
    height:200px;
	width: 200px;
}
.thumbnails{
   -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
	background-color: #4EB9F4;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border-radius: 100%;
    height: 100%;
    padding: 13px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.thumbnails p{
	text-align:center;
}
.margin-bottom{
	margin-bottom: 48px;
    margin-top: 36px;
}
.thumbnails:hover{
	background-color:#6AE3FF;
	text-decoration:none;
}
.tickets{
	background-image: url("../images/ticket_icon.png");
	background-repeat: no-repeat;
    background-size: 156px 139px;
    height: 80%;
    margin-left: 19px;
    text-align: center;
    width: 100%
}
.thumbnails1{
   -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
	background-color: #6FC125;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border-radius: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.thumbnails1 p{
	text-align:center;
}
.thumbnails1:hover{
	background-color:#65FF00;
	text-decoration:none;
}
.camera{
	background-image: url("../images/camera_icon.png");
	background-repeat: no-repeat;
    background-size: 156px 163px;
    height: 80%;
    margin-left: 23px;
    text-align: center;
    width: 100%
}
.thumbnails2{
   -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
	background-color: #FF5649;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border-radius: 100%;
    height: 100%;
    padding: 13px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}
.thumbnails2 p{
	text-align:center;
}
.thumbnails2:hover{
	background-color:#FF304A;
	text-decoration:none;
}
.beer{
	background-image: url("../images/beer_icon.png");
	background-repeat: no-repeat;
     background-size: 149px 149px;
    height: 80%;
    margin-left: 42px;
    text-align: center;
    width: 100%
}
.thumbnails3{
   -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
	background-color: #E48F23;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border-radius: 100%;
    height: 100%;
    padding: 14px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}
.thumbnails3 p{
	text-align:center;
}
.thumbnails3:hover{
	background-color:#c87307;
	text-decoration:none;
}
.device{
	background-image: url("../images/devices_icon.png");
	background-repeat: no-repeat;
    background-size: 137px 125px;
    height: 80%;
    margin-left: 51px;
    text-align: center;
    width: 100%
}
.aligntxt p{
	text-align:justify;
}
.aligntxt h1{
	margin-top:0px;
}
.foot-banner{
    padding: 6em 0em;
    position: relative;
    text-align: center;
    background: url(../images/header.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
	color:white;
	width:100%;
	font-family:Algerian;
    line-height: 5.5em;
    font-size: 1.2em;
	position: relative;
    border: none;
    margin: 0;
    font-weight: 300;
    color: rgba(255,255,255,.6);
}
footer{
width:100%;
height:auto;
background-color:#27241F;
}
footer ul{
list-style:none;
text-align:left;
}
footer h3{
color:#ffffff;
padding-left: 23px;
}
footer ul li a{
text-decoration:none;
color:#ffffff;
}
.social-icon{
padding:0px 0px 0px 0px;
float:left;
width:25%;
}
.social-icon li{
float:left;
}
.connect{
	list-style: none;
	text-decoration:none;
}
.connect a{
	list-style: none;
	text-decoration:none;
}
.facebook{
	font-family: Socialico;
	font-size: 60px;
	text-decoration:none;
	list-style: none;
}
.twitter{
	font-family: Socialico;
	font-size: 60px;
}
.monde{
	font-family: Socialico;
	font-size: 60px;
}
.telechargement{
	font-family: Socialico;
	font-size: 60px;
}
.social-icon p{
color:#FFFFFF;
padding-top: 90px;
}
.contact-information{
	margin: 0;
    padding-left: 0;
	padding-top: 58px;
	text-align:left;
}
.contact-information dt{
	text-align:left;
}
.jumbotron1{
margin:0% 0%;
padding:0px;
border-radius:0em;
}
.no-padding{
	padding-left:0px;
}
.form-padding{
	padding-left: 80px !important;
    padding-right: 0;
}
article p{
	padding:0px 5% !important;
	font-size:17px;
	text-align:left;
	margin:0px;
}
.header-section{
	background-color:#7CBA7C;
	width:100%;
	padding:0px;
}
article{
	background-color:#7CBA7C;
	padding-bottom:18px;
}
figcaption{
	font-size:23px;
	color:white;
}
#submit{
	background-color: #7CBA7C;
	font-size:20px;
	height:40px;
}