body{
	margin-top:10px;
}
.container{
	border:2px solid #000;
	width:80%;
	padding:0%;
	height:auto;
	margin: 0 10%;
}
.inner-container{
	padding:0% 2%;
}
.header{
	height:200px;
	width:100%;
}
.header h1{
	text-align:center;
	color:gray;
}
.picture{
	width: 10%;
	float: left;
}
.picture img{
	height: 100%;
    width: 100%;
}
.name{
	color: black;
    float: left;
    font-size: 33px;
    width: 58%;
	text-align: right
}
.contact{
	width:31%;
	float:left;
}
.contact p{
	font-size:23px;
	padding-left: 26px;
}
.heading{
	font:25px bold;
	background-color:gray;
	width: 100%;
	height:auto;
}
.heading h4{
	padding-left:5px;
}
.objective p{
	font-size:23px;
	width:100%;
}
.academic ul{
	line-height:2em;
	font-size:23px;
}
.certifications ul{
	line-height:2em;
	font-size:23px;
}
.skills{
	width:100%;
	height:auto;
}
.skills ul{
	line-height:2em;
	font-size:23px;
	text-decoration: none;
	list-style: none;
}
.skill{
	float:left;
}

.skillset{
	float:left;
}
.hobbies{
	clear:both;
}
.hobbies ul{
	line-height:2em;
	font-size:23px;
}
.personal-profile ul{
	line-height:2em;
	font-size:23px;
	text-decoration: none;
	list-style: none;
}
.personal{
	float:left;
}

.profile{
	float:left;
}
.declare p{
	font-size:23px;
	width:100%;
}
.date{
	float: left;
	font-size:23px;
}
.signature{
	float: right;
	font-size:23px;
}