.container{
	height: auto;
	color: white;
}
.header{
	background-color:#814CFF;
	text-align: center;
	color: white;
	height: 110px;
	margin-bottom:1px;
}
.header h1{
	font-size: 85px;
	padding-top:9px;
}
.main{
	background-color:black;
	clear:both;
	height: 1000px;
	width:100%;
	margin-bottom:1px;
}
.detail{
	background-color:black;
	width: 40%;
	padding:0px;
	float:left;
	height: 1000px;
}
.circle{
	background-image:url("../images/Dipakcopy.png");
	background-size:200px 200px;
	background-repeat:none;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 58px;
	margin-bottom:40px;
}
.web{
	padding-left: 10%;
}
.web h3{
	font-size:26px;
}
.personal-profile{
	width:100%;
	padding-left:40px;
}
.personal-profile h4{
	font-size:23px;
	color:Yellow;
}
.personal-profile ul{
	line-height:1.5em;
	font-size:18px;
	text-decoration: none;
	list-style: none;
	padding-left:0px;
}
.personal{
	float: left;
}
.profile{
	padding-left: 3px;
	padding-right: 5px;
	float: right;
}
.contact{
	clear:both;
	font-size:20px;
	padding-left: 36px;
}
.contact h3{
	color:yellow;
	font-size:30px;
}
.address{
	font-size: 20px;
	padding-left: 36px;
}
.address h3{
	color: yellow;
	font-size: 30px;
}
.back{
	background-color:black;
	float:left;
	height: 1000px;
	width: 60%;
	padding-top:5px;
}

.About{
	width: 100%;
	height:auto;
	font-size:20px;
}
.education{
	height:auto;
	width: 100%;
	font-size:20px;
}
.education ul{
	padding-left:5px;
	list-style: none;
}
.skills{
	width:100%;
	font-size:20px;
}
.interest{
	width:100%;
	font-size:20px;
}

center{
	padding-left:100px;
}
table td{
	color: white;
	padding: 5px;
	font-size:20px;
}
.declare{
	width:100%;
}
.declare p{
	font-size: 18.7px;
}
footer{
	clear: both;
	width: 100%;
	color: black;
	background-color: #64808C;
	text-align: center;
	font-size: 23px;
}
span{
	color: Yellow;
	font-size: 30px;
}