body{
	margin: 0px 35px;
	}
.main{
	width:1280px;
	height: 2000px;
	border:1px solid #000;
}
.banner{
	width:100%;
	height:1082px;
	text-align:center;
}
.header{
	width: 100%;
	height: 92px;
	background-color: #FFF;
	opacity: 0.9;
}
.logo{
	
	float: left;
	height: 100%;
	width:40%;
}
.logo h2{
    font-family:A Charming Font;
	color:black;
	float:left;
	margin: 30px 4px 2px 179px;
	font-size:30px;
}
.logo h3{
	font-family:lavanderia;
    float:left;
	color:pink;
	margin: 30px 0px;
    font-size: 23px;
}
.nav{
padding: 27px 0px 0px 95px;
width: 36%;
float: left;
height: 70%;
}
.nav ul{
list-style:none;
float:left;
}
.nav ul li{
text-decoration:none;
float:left;
font-family:segoe UI;
font-size:16.99px;
}
.nav ul li a{
color:black;
text-decoration:none;
font-family:segoe UI;
font-size:16.99px;
padding: 0px 10px;
}
.login{
    float: left;
    width: 3.5%;
    background-color: #A52A2A;
    font-family: segoe UI;
    font-size: 16.99px;
    padding: 0px 1px 2px 20px;
    margin-top: 44px;
    border-radius: 0em 0.3em 0em 0em;
}
.text{
font-family:Alte Haas Grotesk;
width: 46%;
color:white;
margin-top: 309px;
font-size: 19px;
}
.text h3{
	font-family:Alte Haas Grotesk;
	width: 100%;
    height: 30px;
	color:white;
	font-size:69.99px;
	padding: 0 0 0 28px;
}
.section{
height: 520px;
width:100%;
background-color:white;
margin-top: 63px;
}
.sec-sub1{
    padding: 10px 255px 0px 255px;
    height: 230px;
}
.sec-sub1 h3 {
    font: normal 35px UniversLT, arial, sans-serif;
    color: #424242;
    text-align: center;
}
.list{
    width: 75%;
    height: 193px;
}
.list ul{
list-style:none;
float:left;
width:100%;
height: 180px;
}
.list ul li{
text-decoration:none;
float:left;
margin:0px 20px;
}
.list ul li a{
text-decoration:none;
}
.list li a {
    display: block;
    height: 19px;
    width: 80px;
    color: #ffffff;
    padding-top: 75%;
}
.ticket{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
	height: 175px;
    width: 179px;
}
.camera{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
	height: 175px;
    width: 179px;
}
.beer{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
	height: 175px;
    width: 179px;
}
.device{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
	height: 175px;
    width: 179px;
}
hr{
width: 100%;
}
.discription{
width:100%;
height: 615px;
border-top: 0.3em solid #eeeeee;
padding: 20px 0px;
}
.dis1{
width:100%;
height: 175px;
}
.dis1 img{
	float: left;
    padding: 13px 25px 0px 214px;
}
.dis1 h1{
    width: 55%;
    float: left;
    padding: 0px 137px 0px 0px;
	font-family:universLT;
	font-size:27px;

}
.dis1 p{
font-family:universLT;
font-size:15px;
}
.footer{
width:100%;
height:288px;
background-color:#27241F;
}
.footer ul{
list-style:none;
}
.footer h3{
color:#ffffff;
padding-left: 37px;
}
.footer ul li a{
text-decoration:none;
color:#ffffff;
}
.inner-footer{
width:80%;
height:288px;
text-align: left;
}
.menu1{
padding:20px 0px 0px 0px;
float:left;
width:17%;
}
.menu2{
padding:20px 0px 0px 0px;
float:left;
width:17%;
}
.menu3{
padding:20px 0px 0px 0px;
float:left;
width:17%;
}
.menu4{
padding:20px 0px 0px 0px;
float:left;
width:17%;
}
.social-icon{
padding:20px 0px 0px 0px;
float:left;
width:30%;
}
.social-icon li{
float:left;
}
.social-icon p{
color:#FFFFFF;
padding-top: 90px;
}